
.config-heading:after, .side-col .switcher:after, .message-popup .message-popup-head:after, .message-popup .message-popup-content .message:after, .login-form .form-buttons:after, .wrapper:after, .option-title:after, .content-header-floating:after, .content-header:after, ul.tabs-horiz:after, .header-top:after, dl.accordion dt:after, .field-100:after, .entry-edit fieldset li:after, .entry-edit fieldset span.field-row:after, .content:after, .box-head:after, div.actions:after, .tier-container:after, .clear:after, .notification-global:after, .files .row:after, .files-wide .row:after, .grid tr.filter .range .range-line:after, .store-scope:after {
    display: block;
    clear: both;
    content: ".";
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
    select option:disabled, select:disabled option {
        color: #202856!important;
    }
}



.validation-advice {
    clear: both;
    color: #fa4545;
    font-size: 0.6875rem;
    font-weight: 600;

    &:before {
        content: "↑";
    }
}


input.validation-failed, textarea.validation-failed {
    background: #fef0ed;
    border: 1px dashed #d6340e;
}


.error, a.error span, .required {
    color: #D40707 !important;
    font-weight: bold !important;
}

.notice {
    color: #ea7601;
}

.error {
    color: #fa4545 !important;
}

.required {
    color: #fa4545 !important;
}




.multi-input {
    margin-bottom: 8px;
}


span.delete-image, span.delete-file {
    display: block;
    white-space: nowrap;
    padding-left: 25px;
}

span.delete-file {
    padding: 0;
}


/*==== excluded from nesting ===*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select option:disabled, select:disabled option {
        color: #999!important;
    }
}

.box-left, .box-right {
    width: 48.5%;
}

.box-left {
    float: left;
}

.box-right {
    float: right;
}

.box-left .content, .box-right .content {
    padding: 6px 14px;
}

.separator, .pipe {
    padding: 0 4px;
    font-size: .9em;
    color: #b9b9b9;
}

.divider {
    display: block;
    height: 1px;
    margin: 8px 0;
    background: #ddd;
    overflow: hidden;
}

td.divider {
    font-size: 1px;
    line-height: 0;
}



/*==== excluded from nesting ===*/

#coupon_container {
    .entry-edit {
        min-width: 310px;
    }
}


.switcher {
    margin-bottom: 10px;
    border: 1px solid #cddddd;
    background: #e7efef;
    padding: 10px;
    background: none;
    padding: 0 0 10px;
    border: none;
}

.side-col {

    .switcher {
        padding-right: 26px;

        & label {
            display: block;
        }

        .link-store-scope {
            float: right;
            margin-right: -19px;
            margin-left: 3px;
            margin: 9px -19px 0 3px;
        }

        & select {
            width: 100%;
            float: left;
            margin: 4px 0;
        }
    }
}

.left-col-block {
    width: 200px;
}



.link-store-scope {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1px;
    width: 16px;
    height: 16px;
    text-decoration: none !important;
    text-indent: -999em;
    overflow: hidden;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%2300a9ff' d='M15.07,11.25L14.17,12.17C13.45,12.89 13,13.5 13,15H11V14.5C11,13.39 11.45,12.39 12.17,11.67L13.41,10.41C13.78,10.05 14,9.55 14,9C14,7.89 13.1,7 12,7A2,2 0 0,0 10,9H8A4,4 0 0,1 12,5A4,4 0 0,1 16,9C16,9.88 15.64,10.67 15.07,11.25M13,19H11V17H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z' /%3E%3C/svg%3E");
}

.store-scope {

    .link-store-scope {
        float: left;
        margin-right: 10px;
    }

    .tree-store-scope {
        float: left;
        padding: 7px 10px;
        border: 1px dotted #dedede;
    }

    & table.stores-tree {
        float: left;
        width: auto !important;
    }
}

.form-list {

    & td.value {

        .store-scope {
            white-space: nowrap;
        }

        .link-store-scope {
            float: none;
            margin-right: 0;
            vertical-align: top;
            margin-top: 6px;
        }
    }
}

/*==== excluded from nesting ===*/

/* 08 space */
.scroll-cont {
    position: absolute;
    top: -25px;
    left: 503px;
    width: 16px;
    height: 265px;
    z-index: 10000;
}

.auto-scroll {
    overflow: auto;
    height: 11em;
}

.root {
    position: relative;
    height: 260px;
    margin: 0;
    width: 1px;
}

.thumb {
    position: absolute;
    height: 40px;
    width: 16px;
    margin-top: -28px;
    z-index: 11000;
}

.up {
    margin-top: 254px;
    height: 16px;
}

.dn {
    margin-top: 0;
    padding: 0;
    height: 15px;
}

.up a, .up a img, .dn a, .dn a img, .thumb a, .thumb a img {
    border: 0;
}

.up a:active, .dn a:active {
    outline: none;
}

.scrollContainer {
    position: absolute;
    left: 0;
    top: 19px;
    clip: rect(0 467px 200px 0);
    overflow: auto;
    border: 0;
}

.scrollContent {
    position: absolute;
    left: 0;
    top: 0;
}

.hor-scroll {
    width: 100%;
    overflow: auto;
    padding-bottom: 4px;
    margin-bottom: -4px;
}

.note-list {
    width: 100%;
    overflow: hidden;

    & li {
        border-top: 1px solid #e3e3e3;
        margin-top: 9px !important;
        background: url(images/icon_note_list.gif) no-repeat 0 4px;
        padding-bottom: 9px;
        padding-left: 18px;
    }
}





/* 14 sales */

.price {
    white-space: nowrap !important;
}

.price-incl-tax {
    display: block;

    .label {
        display: block;
        white-space: nowrap;
    }

    .price {
        font-weight: bold;
    }
}

.price-excl-tax {
    display: block;

    .label {
        display: block;
        white-space: nowrap;
    }

    .price {
        font-weight: bold;
    }
}


/** new */

.order-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;

    .entry-edit {
        overflow: hidden;
        margin-bottom: 0;
        height: 100%;
    }

    .box-order-messages, .box-items-ordered {
        grid-column: span 2;
    }
}

/** endnew */


.order-tables {

    & td {

        & h5.title {
            font-size: 1em;
            font-weight: bold;
        }

        .option-label {
            font-weight: bold;
            font-style: italic;
        }

        .option-value {
            padding-left: 10px;
        }

        .qty-table {
            border: 0 !important;
            width: 100%;

            & td {
                border: 0 !important;
                padding: 0 4px !important;
            }
        }
    }
}

dl.item-options {

    & dt {
        font-weight: bold;
        font-style: italic;
    }

    & dd {
        padding-left: 10px;
    }
}

ul.item-options {

    & li {
        padding-left: .7em;
    }
}


.create-order-sidebar-block {

    .content {
        margin: 0 !important;
        padding: 4px 6px;
    }

    .head {
        border-top: 1px solid #ddd;
        background: #ececec;
        padding: 2px 6px 1px;
        font-size: .9em;
        text-align: right;

        & h5 {
            float: left;
            margin: 0;
            color: #2c464f;
            text-align: left;
        }
    }

    & select {
        width: 170px;
    }

    & ul {
        margin-left: 20px;
    }
}

.create-order-sidebar-block .content table td, .create-order-sidebar-block table th {
    padding: 0 3px 0 0;
}

.order-choose-address {
    margin: 0 0 10px 0;
    padding: 8px 15px;
    background: #e7efef;
    background: #fff;
}

.order-save-in-address-book {
    margin: 0 0 0 0;
    padding: 8px 15px;
    background: #e7efef;
    background: #fff;
}



.entry-edit {

    .order-address {

        & td.label {

            & label {
                width: 100px;
            }
        }

        .select {
            width: 96.5%;
        }
        .input-text, .textarea {
            width: 95% !important;
        }

        .validate-vat {
            text-align: right;
            padding: 10px 0 0;
            width: 96%;
        }
    }
}


.order-search-items {

    .entry-edit {

        .grid {
            height: 610px;
            overflow: auto;

            & table {
                width: 99.9%;
            }
        }
    }
}


.product-configure-popup {
    background: #fafafa;
    border: 1px solid #d6d6d6;
    left: 50%;
    margin: 0 0 0 -271px;
    position: fixed;
    top: 50%;
    width: 540px;
    z-index: 400;

    .validation-advice {
        margin-left: 0;
    }

    .content {
        max-height: 400px;
        overflow: auto;

        .grid {
            padding: 0;

            & table {
                border-bottom: 1px solid #CBD3D4;
            }
        }
    }

    .product-options {
        border-bottom: 1px solid #e7e7e7;
        margin: 0 0 15px;
        padding: 0 0 12px;

        .required {
            color: #333 !important;
            font-weight: normal !important;

            & em {
                color: #d40707;
            }
        }
    }

    .last-fieldset {

        .product-options {
            border: 0 none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

}

#product_composite_configure_messages {
    margin-left: 0 !important;
    padding: 10px 15px;
}


.product-options {
    margin: 10px 0 0;

    & dt {

        & label {
            font-weight: bold;
            font-size: 12px;
        }

        .qty-holder {
            float: right;

            & label {
                vertical-align: middle;
            }
        }

        .qty-disabled {
            background: none;
            border: 0;
            padding: 3px;
            color: #000;
        }
    }

    & dd {
        margin: 5px 0 15px;
        padding: 0 0 12px;
        border-bottom: 1px solid #e7e7e7;

        &.last {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .input-box {
            display: block;
        }

        & input.input-text {
            width: 98%;
        }

        & input.datetime-picker {
            width: 150px;
        }

        .time-picker {
            display: inline-block;
            padding: 2px 0;
            vertical-align: middle;

            & select {
                vertical-align: middle;
            }
        }

        & textarea {
            width: 98%;
            height: 8em;
        }

        & select {
            width: 100%;
        }
    }

    .options-list {

        & li {
            vertical-align: middle;
            margin: 0;
            padding: 2px 0;
            line-height: 1.315;
        }

        & input.radio {
            float: left;
            margin: 2px -18px 0 0;
        }

        & input.checkbox {
            float: left;
            margin: 2px -20px 0 0;
        }

        .label {
            display: block;
            margin-left: 20px;
        }
    }

    & li {
        margin: 3px 0;
    }
}

.bundle-product-options {
    padding: 5px 0 0 13px;

    & dl {
        padding: 5px 0 0 15px;
    }

    & dt {
        color: #111;
    }

    & dd {
        color: #5b5b5b;
        margin-bottom: 10px;
    }
}

.order-totals {
    margin-left: auto;
    border: 1px solid #d7c699 !important;
    padding: 12px 0;
    background: #fcfac9;
    text-align: right;
    background: #eee;
    border: 1px solid lightgrey !important;

    & table {
        border: none;
        background: none;
        margin-left: auto;

        & td {
            padding: 3px 20px 3px 10px;

            &.label {
                white-space: normal;
                padding: 3px 10px 3px 20px;
            }

            &.last {
                padding: 2px 6px;
            }
        }

        .validation-advice {
            text-align: right;
            white-space: nowrap;
            background-position: 100% 1px;
            padding-right: 14px;
            padding-left: 0;
        }
    }
}

.order-totals-bottom {
    padding: 0 20px;
}

.grand-total, .grand_total {
    font-size: 1.2em;
    font-weight: bold;
    color: #eb4d00 !important;
}

.summary-total {
    cursor: pointer;

    & td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .summary-collapse {
        float: right;
        padding-left: 20px;
        background: url(images/bg_collapse.gif) 0 4px no-repeat;
        text-align: right;
        cursor: pointer;
    }
}

.show-details {

    .summary-collapse {
        background-position: 0 -52px;
    }

    & td {
        border-top: 1px solid #eae1b2;
    }
}

.summary-details {

    & td {
        font-size: 11px;
        background-color: #fdfcdf;
    }
}

.summary-details-first {

    & td {
        border-top: 1px solid #eae1b2;
    }
}

.payment-methods {

    & dt {
        margin-bottom: 3px;
    }

    & dd {
        margin-left: 20px;
    }

    .validation-advice {
        margin-left: 2px;
    }
}

.cards-list {

    .offset {
        margin-left: 10px;
    }

    .info-table {

        & td {
            padding: 2px 7px 2px 0;
            text-align: left;
            vertical-align: top;
        }
    }
}

.release-amounts {
    margin: 0.5em 0;
}



.adminhtml-system-config-edit {
    #page\:left > h3 {
        display: none;
    }
}


/* === PayPal Config === */


.pp-general-uk > .config-heading .heading strong, .pp-method-payflow > .config-heading .heading strong, .pp-method-express > .config-heading .heading strong, .pp-method-general > .config-heading .heading strong {
    padding-left: 56px;
    background: url(images/paypal/logo-paypal.png) no-repeat 0 2px;
}

.pp-method-general > .config-heading {

    .button-container {
        padding: 8px 0 0 180px;
        background: url(images/paypal/pp-allinone.png) no-repeat 0 0;
        height: 26px;
    }
}

.pp-method-express > .config-heading {

    .button-container {
        padding: 0 0 0 174px;
        background: url(images/paypal/pp-alt.png) no-repeat 0 0;
        height: 29px;
    }
}

.pp-method-payflow > .config-heading {

    .button-container {
        padding: 0px 0 0 99px;
        background: url(images/paypal/pp-gateways.png) no-repeat 1px 0;
        height: 36px;
    }
}

.pp-general-uk > .config-heading {

    .button-container {
        padding: 9px 0 0 201px;
        background: url(images/paypal/pp-uk.png) no-repeat 0 0;
        height: 27px;
    }
}

.payflow-settings-notice {
    padding-bottom: 1em;
    max-width: 660px;

    .important-label {
        color: red;
    }

    & ul.options-list {
        list-style: disc;
        padding: 0 2em;
    }
}

.packaging-window, .packed-window {
    background: #fafafa;
    border: 1px solid #d6d6d6;
    left: 50%;
    margin: -200px 0 0 -471px;
    position: fixed;
    top: 50%;
    width: 1100px;
    z-index: 400;
    box-shadow: 0px 3px 5px #ccc;
}

.packaging-window {

    .messages {
        border: 1px solid #f16048;
        color: #df280a;
        background: #faebe7 url(images/error_msg_icon.gif) no-repeat 10px 10px;
        font-weight: bold;
        margin-bottom: 10px;
        padding: 10px 10px 10px 35px;
    }

    .validation-failed {
        background: #fef0eD;
        border: 1px dashed #D6340E;
    }

    .packaging-content {
        overflow: auto;
        height: auto !important;
        max-height: 400px;
        margin: 0 0 10px;
        padding: 10px 10px 0;
    }

    .package-block {
        background: #f6f6f6;
        border: 2px solid #d4d4d4;
        margin: 0 0 10px;
        padding: 10px;
    }

    .package-options {
        width: 100%;
        border-top: 1px solid #ccc;
        padding: 10px 0 0;
        margin: 3px 0 0;

        & td {
            vertical-align: middle;
        }

        & select {
            width: 130px;

            &.disabled {
                background: #eee;
            }
        }

        .input-text {
            width: 50px;
        }

        .customs-value {
            width: 80px;
        }

        .options-weight {
            width: 75px;
        }

        .options-units-weight {
            width: 45px;
        }

        .options-units-dimensions {
            width: 45px;
        }

        .options-content-type {
            width: 120px;
        }

        & input[type=text].disabled {
            background: #eee;
        }
    }

    .package_prapare {
        margin-bottom: 15px;
    }

    .package-options-contents {
        border-top: 0;
    }

    .package-add-products {
        border-top: 1px solid #ccc;
        padding: 10px 0 0;
        margin: 10px 0 0;

        .grid {
            padding: 0;

        }
    }

    .package-number {
        font-weight: bold;

        & span {
            margin-left: 5px;
        }
    }
}

.packed-window {

    .entry-edit-head {
        padding: 3px 5px;
    }

    .packed-content {
        padding: 10px 10px 0;
        overflow: auto;
        max-height: 400px;
    }

    .package {
        background: #fefefe;
        border: 7px solid #d5d5d5;
        margin-bottom: 10px;
        padding: 10px;

        & h4 {
            background: #fefefe;
            border: solid #ccc;
            border-width: 0 0 1px 1px;
            float: right;
            color: #222;
            font-size: 12px;
            margin: -10px -10px 0 0;
            padding: 5px 10px;
            position: relative;
            z-index: 100;
        }

        & strong {
            display: block;
            padding: 0 0 3px;
        }

        .grid {
            padding: 0;
        }
    }

    .package-info {
        background: #f3f3f3;
        border-bottom: 1px solid #ccc;
        margin: -10px -10px 10px;
        padding: 5px 10px;
        position: relative;
    }

    .package-options {
        width: 60%;
    }

    .buttons-set {
        padding-right: 5px;
    }
}

.packed-window .package-options td, .packed-window .package-options th {
    padding: 1px 0;
}

#payment_pphs_settings_advanced-head {
    margin-bottom: 10px;
}

#payment_settings_payments_standart_advanced-head {
    margin-bottom: 10px;
}

#payment_settings_ec_advanced-head {
    margin-bottom: 10px;
}

#address_form_container {
    margin-top: 0;
}

/*==== excluded from nesting ===*/
/* 15 catalog */
.categories-side-col {

    .content-header {
        padding: 0;

        & h3 {
            float: none;
        }

        & button {
            margin: 5px 0 0;
        }
    }

    .switcher {
        margin: 10px 20px 0 0;
    }

    .tree-actions {
        text-align: center;
        margin: 10px 20px 10px 0;
        margin-right: 0;
    }

    .tree-holder {
        margin-right: 20px;
        margin-right: 0;
    }
}

.no-active-category {

    & a {

        & span {
            color: #aaa !important;
        }
    }
}

.website-name {

    .checkbox {
        vertical-align: top;
        margin-top: 2px;
    }
}

.webiste-groups {
    padding: 10px 20px;
}

.group-stores {
    padding: 2px 10px;
}

.bundle-option-row {

    & table {

        & tbody {

            & td {
                white-space: nowrap;

                & label {
                    float: left;
                }
            }
        }
    }

    & input.option-label {
        width: 50% !important;
    }

    & input.option-position {
        width: 70px !important;
    }
}

.tier-price-input {
    margin-bottom: 8px;

    & input.price {
        width: 80px;
        margin-right: 10px;
    }

    & input.qty {
        width: 80px;
    }

    .tier-container {
        position: relative;
        clear: both;

        & div {
            float: left;
        }

        & label {
            width: 30px;
            margin: 0;
            padding: 0;
        }
    }

    .validation-advice {
        margin: 0;
        height: 25px;
    }

    .custgroup-div {

        & select {
            width: auto;
            padding: 0;
        }
    }

    .qty-div {
        padding-left: 20px;
    }

    .price-div {
        padding-left: 20px;

        .validation-advice {
            margin: 0;
        }
    }
}

.btn-remove-tier-group {
    float: right;
    right: 24px;
    top: 5px;
}

.image-preview {
    position: absolute;
    cursor: pointer;
}

.edit-attribute-set {
    display: flex;
    gap: 28px;
    height: 800px;

    .content-header {
        display: flex;
        justify-content: space-between;
    }

    .content-header:after {
        display: none;
    }

    .form-list {

        & td.label {
            width: 105px;
        }
    }

    td:has(input.swatch-option) {
        display: flex;
        gap: 2px;

        .swatch-delete {
            cursor: pointer;
            width: 14px;
            height: 14px;
            display: flex;
            justify-content: center;
            font-size: 10px;
            background: #e63a3a;
            color: #fff;
            border-radius: 2px;
        }

        .swatch-option {
            width: 26px !important;
            height: 26px;
        }
    }

    td:has(input.swatch-disabled) {
        background-image: url('data:image/svg+xml,<svg id="e5490f2e-3f54-4acd-9496-57eed667c240" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 28.41093 28.29249"><title>placeholder</title><rect x="1.20546" y="1.08375" width="26" height="26" fill="%23fff" stroke="%23ccc" stroke-miterlimit="10"/><line x1="0.70546" y1="27.58375" x2="27.70546" y2="0.70875" fill="none" stroke="%23ff003a" stroke-miterlimit="10" stroke-width="2"/></svg>');
        background-repeat: no-repeat;
        outline: 1px solid #c8c8c8;
        border: 1px solid #fff;
        padding: 0;
        margin: 2px;
        width: 24px;
        height: 24px;
        display: block;
        background-position: center center;
        border-radius: 2px;

        .swatch-option {
            opacity: 0;
        }

        .swatch-delete {
            display: none;
        }
    }
}

.edit-attribute-set > div {
    flex-shrink: 0;
}

.edit-attribute-set-column {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding-left: 27px;
    border-left: 1px solid #ddd;
}

.edit-attribute-set-column > div:last-child {
    flex-grow: 1;
}

.ratings {
    margin: 0;
}

.rating-box {
    float: left;
    position: relative;
    width: 69px;
    height: 16px;
    margin: 0 5px 3px 0;
    background: url(images/product_rating_blank_star.gif) repeat-x;

    .rating {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        background: url(images/product_rating_full_star.gif) repeat-x;
    }
}

.field-row {

    .ratings {
        width: 120px;
        float: left;
        clear: right;
    }

    .ratings-container {
        width: 250px;
        float: left;
    }
}

.product-review-box {
    width: 450px;

    & table {
        width: 100%;
    }

    & td.label {
        width: 100px;
        text-align: left;
    }
}

.product-review-box td, .product-review-box th {
    text-align: center;
    padding-right: 5px;
}

.rule-tree {

    & ul {
        padding-left: 16px !important;
        border-left: dotted 1px #888;
    }
}

.rule-tree ul.maho-tree, .rule-tree ul.maho-tree ul {
    padding-left: 0 !important;
    border-left: none !important;
}

.rule-param {

    .label {
        font-weight: bold;
        color: black;
    }

    .label:hover {
        font-weight: bold;
        color: #0090FF;
    }

    .label-disabled {
        color: black;
        cursor: default;
        text-decoration: none;
    }

    .label-disabled:hover {
        color: black;
    }

    .element {
        display: none;
    }

    & select.multiselect {
        vertical-align: top;
    }
}

.rule-param input, .rule-param select {
    width: auto !important;
    min-width: 170px;
}

.rule-param-edit {

    .label {
        display: none;
    }

    .element {
        display: inline;
    }
}

.rule-chooser {
    border: solid 1px #CCC;
    margin: 5px;
    padding: 5px;
    display: none;
}

.rule-param-wait {
    padding-left: 20px;
    background-image: url(images/loading.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.custom-options {

    .box {
        padding: 0 1.5em;
        overflow: auto;
    }

    .option-box {
        border: 1px solid #cddddd;
        padding: 1em;
        background: #e7efef;
        margin: 1.5em 0;
        border: 0;
        background: #fff;

        .border {
            width: 615px;
            width: 700px;

            .type-last {

                & input.input-text {
                    width: 60px !important;
                }
            }

            & input.type-sku {
                width: 150px !important;
            }
        }
    }

    .option-header {
        border: 0;
        width: 100%;
        background: #e7efef;
        border-bottom: 1em solid #e7efef;
        background: #fff;
        border-bottom-color: #fff;

        & th {
            padding: 2px;
        }

        & td {
            padding: 5px 2px;
        }
    }

    .opt-title {
        width: 175px;
    }

    .opt-type {
        width: 150px;
    }

    .opt-req {
        width: 80px;
    }

    .opt-order {
        width: 60px;
    }

    & th {
        white-space: nowrap;
    }

    .type-title {
        width: auto;
    }

    .type-price {
        width: 60px;
    }

    .type-type {
        width: 80px;
    }

    .type-uqty {
        width: 100px;
    }

    .type-sku {
        width: 150px;
    }

    .type-order {
        width: 60px;
    }

    .type-butt {
        width: 33px;
    }

    .type-last {
        width: auto;
    }
}

.custom-options  .option-header .input-text, .custom-options  .option-header .select {
    width: 95%;
}

.custom-options .option-box .border input.input-text, .custom-options .option-box .border select.select {
    width: 90% !important;
}

.bundle {

    .option-box {
        padding-bottom: 2em;

        .border {
            width: 100%;
            border-bottom: 0;

            & td {
                border-bottom: 1px solid #dce5e6!important;
            }
        }
    }

    .option-title {
        padding: 0 0 10px;
        border-bottom: 1px solid #cddddd;

        & button {
            float: right;
        }

        & label {
            font-weight: bold;
            line-height: 21px;
            padding-right: 1em;
            float: left;
        }

        .input-text {
            float: left;
            width: 260px;
            vertical-align: middle;
        }
    }

    .option-header {
        clear: both;
        margin-top: 5px;
    }

    .border {

        .last {
            width: 33px;
        }
    }
}

.files {
    width: 195px;

    & input.input-text {
        float: left;
        width: 134px !important;
    }

    .uploader {
        width: 100px;
    }
}

.files-wide {
    width: 355px;

    & input.input-text {
        float: left;
        width: 294px !important;
    }

    .uploader {
        width: 260px;
    }
}

.files label, .files-wide label {
    float: left;
    width: 55px;
}

.files .row, .files-wide .row {
    margin-bottom: 5px;
}

.files .flex, .files-wide .flex {
    float: right !important;
    position: static !important;
}

.files .uploader, .files-wide .uploader {
    float: left;
    overflow: hidden;
}

.files .uploader .file-row-info, .files-wide .uploader .file-row-info, .files .uploader .file-row-narrow, .files-wide .uploader .file-row-narrow {
    margin: 0 !important;
}

td.input-price {
    white-space: nowrap;

    .validation-advice {
        white-space: normal;
    }

    & input.input-text {
        width: 4em !important;
    }
}

input.sort {
    width: 4em !important;
}

input.downloads {
    width: 6.5em !important;
}

.head-products {
    background-position: left center;
}

a.rule-param-remove {

    & img {
        padding-left: 13px;
        width: 13px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23d50000' d='M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z' /%3E%3C/svg%3E") no-repeat;
        height: 13px;
    }
}

img.rule-param-add {
    padding-left: 13px;
    width: 13px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%2356af45' d='M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z' /%3E%3C/svg%3E") no-repeat;
    height: 13px;
}

.tier {

    .data {
        width: 550px;

        & select {
            width: auto;
        }

        & input.qty {
            width: 50px !important;
        }
    }
}

/*==== excluded from nesting ===*/
/* 16 customer */
.address-list {
    width: 28em;
    padding-right: 22px;

    & address {
        width: 100%;
        overflow: hidden;
    }

    .btn-edit-address {
        right: 8px;
    }

    .btn-remove-address {
        right: 27px;
    }

    & li {
        position: relative;
        padding: 12px 14px;
        cursor: pointer;
        border-top: 1px solid #e6e6e6;
        background: url(images/address_list_li.gif) repeat;

        &.on {
            background: #e7efef;
            background: #fff;
        }

        &.over {
            background-color: #fcf5dd;
        }

        & table {
            width: 100%;
        }
    }
}

.address-list .btn-edit-address, .address-list .btn-remove-address {
    position: absolute;
    top: 8px;
}

.delete-address {
    float: right;
    margin: 0 0 10px 10px;
}

.address-type {

    .address-type-line {
        display: block;
        margin: 2px 0;

        & input {
            margin-right: 3px;
        }
    }
}

/*==== excluded from nesting ===*/
/* 17 newsletter */
.template-preview {
    width: 100%;
    height: 200px;
    background-color: #fff;
}

/*==== excluded from nesting ===*/
/* 18 system */
.stores-tree {

    & td {
        padding-top: 3px !important;
        padding-bottom: 3px !important;

        &.label {

            & label {
                display: inline;
                width: auto;
                padding-right: 10px;
            }
        }

        &.website-label {

            & label {
                font-weight: bold;
            }
        }

        &.store-group-label {

            & label {
                font-weight: bold;
                padding-left: 15px;
            }
        }

        &.store-label {

            & label {
                padding-left: 30px;
            }
        }
    }

}

.log-details {
    border: 1px solid #d6d6d6;
    padding: 15px;
    background: #fafafa;
    margin: 0 0 15px;

    & table {
        width: 100%;

        & th {
            font-weight: bold;
            padding-right: 30px;
            white-space: nowrap;
        }
    }
}

.log-details table th, .log-details table td {
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: middle;
}

.sync-indicator {
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    white-space: nowrap;
}

.sync-indicator img, .sync-indicator span {
    vertical-align: middle;
}

div.tree_item, div.tree_item_last {
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
}

div.tree_item {
    background-image: url(images/tree_icons/join.gif);
}

div.tree_item_last {
    background-image: url(images/tree_icons/joinbottom.gif);
}

div.tree_line {
    position: absolute;
    left: 0;
    background-image: url(images/tree_icons/line.gif);
}

img.attribute-global {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}


.inline-table {
    border: 0 !important;

    & td {
        border: 0 !important;
        padding: 0 5px 5px !important;
    }
}

.system-fieldset-sub-head {

    & td {
        padding: 20px 5px 5px 5px;
    }

    & h4 {
        border-bottom: 1px solid #ccc;
        margin: 0;
    }
}

.system-fieldset-sub-head:first-child {

    & td {
        padding: 5px 5px 5px 5px;
    }
}

.comment {
    padding: 5px;

    & a {
        color: #888;
        margin-left: 3px;
    }
}

.paypal-payment-notice {
    font-weight: bold;
    margin: -10px 0 10px 0;
}

.payment-group-title {
    border: 0;
    padding: 10px 5px 10px;

    & strong {
        display: inline;
        font-size: 14px;
        border: 0;
    }
}

.complex > .config {
    padding: 13px 12px 12px;
}

.section-config.complex {
    & table.form-list {
        width: 100%!important;
    }
}

.complex {

    & table {

        & td:first-child {
            padding-left: 0px!important;
        }

        & td.use-default {
            width: 1px;
            white-space: nowrap;
        }
    }

    & tr.nested + tr[id] > td {
        padding-top: 15px !important;
        padding-bottom: 30px!important;
    }

    & tr[id] + tr.nested > td {
        padding-top: 15px !important;
    }
}


.with-button {
    background: #fff;

    &.active > .config {
        border-bottom-color: #b0b0b0;
        z-index: 1;
        position: relative;
    }

    &.active:after {
        background: transparent url(images/bkg_config-shaddow.png) repeat-x 0 0;
        height: 5px;
        overflow: hidden;
        position: relative;
        left: 0;
        margin: 0 1px -5px;
        z-index: 2;
        display: block;
        content: '';
        background: none;
        margin: 0;
    }
}

tr:last-child {

    .with-button.active > .config {
        border-bottom-color: #d6d6d6;
    }

    .with-button.active:after {
        display: none;
    }
}


.config-heading {
    padding: 10px 10px 10px 26px;
    background: #efefef url(images/icon-enabled.png) no-repeat -999em -999em;
    border: 1px solid #d8d8d8;
    margin: -1px 0 0;
    background-color: #fff;
    border: 0;
    margin: 4px 0 0;

    .button {

        .state-closed {
            height: auto;
        }

        .state-opened {
            height: 0;
            overflow: hidden;
        }

        &.open {

            .state-closed {
                height: 0;
                overflow: hidden;
            }

            .state-opened {
                height: auto;
            }
        }
    }

    .heading {
        float: left;

        & strong {
            font-size: 12px;
            display: inline-block;
        }

        & a {
            margin-left: 8px;
            font-size: 11px;
            color: #888;
            font-weight: normal;

            &.link-demo:before {
                content: '|';
                display: inline-block;
                margin-right: 8px;
                color: #888;
                font-size: 12px;
            }
        }

        .heading-intro {
            display: block;
            font-size: 11px;
        }
    }
}

.enabled {

    .config-heading {
        background-position: 5px 10px;
    }
}


td.label {

    & label.enabled {
        background: url(images/icon-enabled.png) no-repeat 100% 1px;
        min-height: 16px;
    }
}



.pp-buttons-container {
    white-space: nowrap;
    float: left;
    position: relative;
    z-index: 1;
    margin-right: -200px;

    & button {
        display: inline-block;
    }

    & button:first-child {
        margin: 0;
    }
}

.with-tooltip {
}

.field-tooltip {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    z-index: 1;
    background: url(images/icon-tooltip.png) no-repeat 0 0;
    cursor: help;
    vertical-align: middle;
}

.field-tooltip:hover {
    z-index: 100;
}

.field-tooltip > span {
    display: none;
}

.field-tooltip:hover > div:hover, .field-tooltip > div {
    width: 301px;
    background: #f6f6f6 url(images/bkg_tooltip.png) repeat-y 100%;
    opacity: 0;
    position: absolute;
    z-index: 999;
    left: -296px;
    bottom: 28px;
    padding: 0 12px;
    color: #464d50;
    visibility: hidden;
}

.field-tooltip > div:before {
    position: absolute;
    top: -5px;
    left: 0;
    content: '';
    width: 325px;
    height: 5px;
    overflow: hidden;
    background: url(images/bkg_tooltip.png) no-repeat 0 0;
}

.field-tooltip > div:after {
    position: absolute;
    bottom: -14px;
    left: -1px;
    content: '';
    width: 325px;
    height: 14px;
    overflow: hidden;
    background: url(images/bkg_tooltip.png) no-repeat -325px 0;
}

.field-tooltip:hover > div {
    opacity: 1;
    width: 301px;
    visibility: visible;
    bottom: 30px;
    opacity: 1;
    width: 301px;
    visibility: visible;
    bottom: 30px;
}

#profile-generator {

    & select {
        width: 207px;
    }

    & input.input-text {
        width: 200px;
    }


}

.field-row {

    .with-tip {
        display: block;
        margin-left: 150px;

        & input {
            float: none;
        }

        & small {
            display: block;
            padding-top: 2px;
        }
    }
}

.attribute-change-checkbox {
    white-space: nowrap;
    clear: none;
    margin-left: 5px;

    & label {
        margin-left: 5px;
        float: none !important;
    }
}

.order-history {
    width: 70%;
    margin-right: 27px;
}

ul.super-product-attributes {
    padding-left: 15px;
}

.uploader {

    .file-row {
        width: 600px;
        padding: 0.5em 0.6em;
        margin: 0.5em 0.6em;
        border: 1px solid #ccc;
        background-color: #f9f9f9;

        .file-info {
            float: left;
        }

        .progress-text {
            float: right;
            font-weight: bold;
        }
    }

    .file-row-narrow {
        width: auto;
        margin: 0 0 2px 40px;
    }

    .file-row-info {
        margin: 0 0 0 10px;

        .file-info-name {
            font-weight: bold;
        }
    }

    .progress {
        border: 1px solid #f0e6b7;
        background-color: #feffcc;
    }

    .error {
        border: 1px solid #aa1717;
        background-color: #ffe6de;

        .progress-text {
            padding-right: 10px;
        }
    }

    .complete {
        border: 1px solid #90c898;
        background-color: #e5ffed;
    }
}

.grid {

    & tr.read {
        background: #fff !important;
    }

    & tr.unread {
        background: #fcf6f5 !important;
    }
}

.grid-row-title {
    color: #444;
    font-weight: bold;
}

.grid-severity-minor, .grid-severity-major, .grid-severity-critical, .grid-severity-notice {
    background: none;
    padding: 0;
    height: auto;
}

.grid-severity-minor span, .grid-severity-major span, .grid-severity-critical span, .grid-severity-notice span {
    padding: 2px 10px;
}

.grid-severity-minor span, .grid-severity-major span {
    border: 0;
    background: #f0ad4e;
    color: #fff;
}

.grid-severity-notice {

    & span {
        border: 0;
        background: #56af45;
        color: #fff;
    }
}

.grid-severity-critical {
    & span {
        border: 0;
        background: #fa4545;
        color: #fff;
    }
}


.grid-severity-critical, .grid-severity-critical span, .grid-severity-major, .grid-severity-major span, .grid-severity-minor, .grid-severity-minor span, .grid-severity-notice, .grid-severity-notice span {
    display: block;
    height: 16px;
    background-image: url(images/bg_notifications.gif);
    background-repeat: no-repeat;
    font: bold 10px/16px ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 0 6px;
    margin: 1px 0;
    white-space: nowrap;
    color: #fff;
}

.grid-severity-critical {
    background-position: 0 0;

    & span {
        background-position: 100% 0;
        padding: 0 7px 0 0;
    }
}

.grid-severity-major {
    background-position: 0 -16px;

    & span {
        background-position: 100% -16px;
        padding: 0 7px 0 0;
    }
}

.grid-severity-minor {
    background-position: 0 -32px;

    & span {
        background-position: 100% -32px;
        padding: 0 7px 0 0;
    }
}

.grid-severity-notice {
    background-position: 0 -48px;

    & span {
        background-position: 100% -48px;
        padding: 0 7px 0 0;
    }
}

.super-attributes {
    margin: 0;
    padding: 0;

    & li.attribute {
        border: 1px solid #dfdfdf;
        background-color: #ededed;
        margin: 1px 0;

        & ul.attribute-values {
            margin: 0;
            padding: 0;
        }

        & div.values-container {
            width: 80%;
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }

    & li.attribute-value {
        display: block;
        margin: 1px 0;

        .validation-advice {
            margin: 0;
            white-space: normal;
        }

        .attribute-value-label-container {
            width: 200px;
        }
    }

    & div.attribute-name-container {
        cursor: move;
        background-image: url(images/arrow_sort_move.gif);
        background-repeat: no-repeat;
        background-position: 4px 50%;
        font-weight: bold;
        padding-left: 15px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

.super-attributes div.attribute-name-container, .super-attributes li.attribute div.values-container, .configurable-simple-product div.values-container, .super-attributes li.attribute-value .attribute-values-container, .configurable-simple-product  .attribute-values-container, .super-attributes li.attribute-value .attribute-values-container-main, .configurable-simple-product  .attribute-values-container-main, .super-attributes li.attribute-value .attribute-value-label-container {
    display: block;
}

.super-attributes li.attribute-value .attribute-price, .configurable-simple-product .attribute-price {
    width: 70px !important;
}

.super-attributes li.attribute-value .attribute-price-type, .configurable-simple-product .attribute-price-type {
    width: 70px !important;
}

.preview {

    .cell-image {

        .place-holder {
            border: 1px solid #AEAEAE;
            width: 100px;
            height: 100px;
            text-align: center;

            & span {
                margin-top: 30px;
                display: block;
            }
        }
    }

    .cell-position {

        & input.input-text {
            width: 90% !important;
        }
    }
}

.fieldset-wide {

    .data {

        .preview {

            .cell-position {

                & input.input-text {
                    width: 90% !important;
                }
            }
        }
    }
}

.tier {

    .data {
        width: 465px;

        & select {
            width: 99%;
        }

        & input.qty {
            width: 20px !important;
        }
    }
}

.weee {

    .data {
        width: 465px;

        & select {
            width: 99%;
        }
    }
}


.link-feed {
    background: url(images/icon_feed.gif) no-repeat left 2px;
    padding-left: 18px;
    margin-right: 20px;
    font-size: 0.9em;
    text-decoration: none;
}


.links-feed {
    margin-top: 10px;
}

/*==== excluded from nesting ===*/
/* 19 widget */
.breadcrumbs {
    margin: 0 0 16px;

    li {
        display: inline;

        span {
            margin: 0 2px;
        }
    }
}

.cms-revision-preview {
    height: 100%;

    & iframe {
        width: 100%;
        height: 91%;
        border: 0;
    }
}

.options-box {

    .option-box {
        border: 1px solid #cddddd;
        padding: 1em;
        background: #e7efef;
        margin: 1.5em 0;
        background: #fff;
        border: 0;
    }

    .option-title {
        padding: 0 0 10px;
        border-bottom: 1px solid #cddddd;
        border-bottom: 1px solid #c8c8c8;

        & label {
            font-weight: bold;
            line-height: 21px;
            padding-right: 1em;
            float: left;
        }

        & select {
            float: left;
            width: 260px;
            vertical-align: middle;
        }
    }

    .option-header {
        margin: 5px 0 0;
        width: 100%;
        border: 0;
        background: #e7efef;
        border-bottom: 1em solid #e7efef;
        background: none;
        border: 0;

        & th {
            padding: 2px;
        }

        & td {
            padding: 5px 2px;
        }

        .tree {
            margin: 5px 0 0;
        }
    }
}

.options-box .option-header .input-text, .options-box .option-header select {
    width: 95%;
}

dialog {

    .uploader {

        .file-row {
            margin: 16px 0;
            width: auto;
        }
    }

    #contents-uploader {
        margin-bottom: 10px;
        background: #d7e5ef;
        padding: 5px 10px;

        .flex {
            font-size: 0;
            line-height: 0;
            height: 20px;
        }
    }

    #contents {
        margin-left: -3px;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;

        .filecnt {
            border: 1px solid #ccc;
            cursor: pointer;
            padding: 3px;
            margin: 0 0 15px 4px;
            overflow: hidden;
            width: 100px;
        }

        .selected {
            border: 1px solid #f1af73;
            background: #f0f0f0;
            cursor: default;
        }

        .nm {
            text-align: center;

            & img {
                vertical-align: bottom;
            }
        }
    }
}

#widget_window {

    .magento_content {
        height: auto !important;
        min-height: 450px;
    }
}

#widget-chooser {

    .magento_message {
        padding: 10px 18px;
    }

    .grid {

        & tr.filter {

            & th {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }

    .side-col {
        padding-top: 0.5em;
    }

    .main-col {
        padding-right: 4px;
    }
}

#widget-chooser .grid th, #widget-chooser .grid td {
    padding: 2px 4px 2px 4px;
}

#variables-chooser {

    .magento_message {
        padding: 10px 18px;
    }
}

#catalog-wysiwyg-editor {

    .magento_content {
        height: auto !important;
        overflow: hidden;
    }

    .textarea {
        width: 930px !important;
    }

    .magento_message {
        padding: 0 7px;
    }

    .magento_buttons {
        padding-left: 7px;
        padding-right: 7px;
    }
}




/* 01 - loading */

#loading-mask {
    position: absolute;
    inset: 0;
    opacity: 0.80;
    z-index: 9999;
    opacity: 1;

    .loader {
        position: fixed;
        top: 45%;
        left: 50%;
        width: 150px;
        margin-left: -105px;
        padding: 15px 30px;
        background: #fff4e9;
        border: 2px solid #f1af73;
        color: #d85909;
        font-weight: bold;
        text-align: center;
        z-index: 1000;
        width: 160px;
        height: 100px;
        border: 0;
        opacity: 0.95;
        color: #2f2f2f;
        background: #fff;
        font-size: 18px;
        font-weight: 400;
    }

    .backdrop {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        color: #2f2f2f;
    }
}

#message-popup-window-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1980;
    background-color: #efefef;
    opacity: .5;
}

.message-popup {
    position: absolute;
    z-index: 1990;
    width: 407px;
    top: -9999em;
    left: 50%;
    margin: 0 0 0 -203px;
    background: #f3bf8f;
    padding: 0 4px 4px;
    background: #929292;

    &.show {
        top: 280px;
    }

    .message-popup-head {
        padding: 1px 0;

        & h2 {
            padding: 0 10px;
            margin: 0;
            font: bold 12px/19px ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            color: #644f3b;
            color: #fff;
        }

        & a {
            float: right;
            border: 1px solid #ea7601;
            padding: 0 12px 0 7px;
            background: url(images/bkg_btn-close.gif) 0 50% repeat-x !important;
            font: normal 12px/17px ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            color: #fff;
            text-decoration: none !important;
            cursor: pointer;
            background: #0090FF !important;
            border: none;
            margin-top: 1px;

            & span {
                float: left;
                background: url(images/bkg_btn-close2.gif) 0 50% no-repeat;
                padding-left: 19px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z' /%3E%3C/svg%3E") no-repeat 0 50%;
                background-size: 13px;
            }
        }
    }

    .message-popup-content {
        background: #fdf4eb;
        padding: 21px 21px 10px;
        background: #fff;

        .message-icon {
            float: left;
            width: 50px;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            text-align: center;
        }

        .message-critical {
            color: #e41101;
        }

        .message-major {
            color: #f55600;
        }

        .message-minor {
            color: #ff9e22;
        }

        .message-notice {
            color: #659601;
        }

        .message-text {
            float: right;
            width: 295px;
            min-height: 4.5em;
            overflow: hidden;
            color: #644f3b;
        }

        .read-more {
            margin: 7px 0 0;
            text-align: right;

            & a {
                background: url(images/more_arrow.gif) 0 50% no-repeat;
                padding-left: 14px;
                text-decoration: underline;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%230090FF' d='M2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12M10,17L15,12L10,7V17Z' /%3E%3C/svg%3E") no-repeat 0 50%;
                background-size: 13px;
            }

            & a:hover {
                text-decoration: none;
            }
        }
    }
}


/* === Maho Tree === */
.maho-tree {
    --indent: 1.25rem;
    --spacing: 0.25rem;
    --line-style: 1px dotted #aaa;
    --outline-style: 2px solid #0090FF;
    --marker-size: 10px;
    --icon-size: 16px;
    --label-gap: 0.25rem;
    --disabled-color: #999;
    --drop-color: #ccc;

    li {
        position: relative;
        margin: 0 !important;
        margin-left: calc(var(--icon-size) / 2) !important;
        padding-top: var(--spacing);
        padding-bottom: var(--spacing);
        padding-left: calc(var(--indent) - var(--icon-size) / 2);
        border-left: var(--line-style);

        &.sortable-drag {

            .label {
                outline: none !important;
            }

            & ul {
                visibility: hidden;
            }
        }

        &.drop > details > summary {

            .label {
                background: var(--drop-color);
            }
        }
    }

    & li:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--indent) - var(--icon-size) / 2 - var(--label-gap));
        height: calc(var(--spacing) + 0.5rem);
        border-bottom: var(--line-style);
    }

    & li:first-child {
        padding-top: calc(2 * var(--spacing));
    }

    & li:first-child:before {
        height: calc(2 * var(--spacing) + 0.5rem);
    }

    & li:last-child {
        padding-bottom: 0;
        border-left-color: transparent;
    }

    & li:last-child:before {
        margin-left: -1px;
        border-left: var(--line-style);
    }

    .label {
        display: flex;
        flex-grow: 1;
        gap: var(--label-gap);
        user-select: none;
        align-items: safe center;
        width: unset !important;
    }

    &.hide-root-node > li {
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    }

    &.hide-root-node > li:before {
        display: none;
    }

    &.hide-root-node > li > details > summary {
        display: none;
    }

    &.hide-checkbox {
        padding-right: 3px;
        padding-bottom: 3px;

        .label:has(input:checked) {
            outline: var(--outline-style);
            outline-offset: 1px;
        }
    }

    &.hide-checkbox .label:has(input:is([type=checkbox], [type=radio])) {
        cursor: pointer;
    }

    &.hide-checkbox .label input:is([type=checkbox], [type=radio]) {
        display: none;
    }

    & summary {
        display: flex;
        align-items: stretch;
        list-style: none;
        cursor: pointer;
    }

    & summary::-webkit-details-marker {
        display: none;
    }

    & summary::before {
        content: '';
        position: absolute;
        top: calc(var(--spacing) + 0.5rem - var(--marker-size) / 2);
        left: calc(-1 * var(--marker-size) / 2);
        width: var(--marker-size);
        height: var(--marker-size);
        background: url('data:image/svg+xml,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><rect style="fill:%23f6f6f6;stroke:%234a4a4a;stroke-width:1" width="9" height="9" x=".5" y=".5" rx="2" ry="2"/><path style="fill:%234a4a4a" d="M4.5 2v2.5H2v1h2.5V8h1V5.5H8v-1H5.5V2h-1z"/></svg>') no-repeat;
        background-size: contain;
        user-select: none;
    }

    & li:first-child > details > summary::before {
        top: calc(2 * var(--spacing) + 0.5rem - var(--marker-size) / 2);
    }

    & details[open] > summary::before {
        background-image: url('data:image/svg+xml,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><rect style="fill:%23f6f6f6;stroke:%234a4a4a;stroke-width:1" width="9" height="9" x=".5" y=".5" rx="2" ry="2"/><path style="fill:%234a4a4a" d="M2 4.5h6v1H2z"/></svg>');
    }

    .icon {
        background-size: contain;
        background-repeat: no-repeat;
        width: var(--icon-size);
        height: var(--icon-size);
        flex-shrink: 0;

        &.no-icon {
            display: none;
        }

        &.folder {
            background-image: url('data:image/svg+xml,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M1.9 2.1a1 1 0 0 0-1 1V13c0 .5.4 1 1 1H14c.6 0 1-.5 1-1V5.2c0-.6-.4-1-1-1H6.8s-.2 0-.2-.2h-.1l-.1-.2v-.2l-.9-1a1 1 0 0 0-.8-.5Z" fill="%23e2ae10"/><rect x=".8" y="4.2" width="14.3" height="9.7" rx="1" fill="%23f2c94c" ry="1"/></svg>');
        }

        &.system-leaf {
            background-image: url('data:image/svg+xml,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 15.5h3l.5-2.3.8-.3.8-.6 2.2.7 1.6-2.5L13.6 9V7l1.8-1.5L13.8 3l-2.2.7-.8-.6-.8-.4L9.5.5h-3L6 2.8l-.8.3-.8.5L2.2 3 .6 5.5 2.4 7v2L.6 10.5 2.2 13l2.2-.7.8.6.8.3ZM8 11q-1.3 0-2.1-.9-1-.9-1-2.1 0-1.2 1-2.1Q6.7 5 8 5t2.1.9q1 .9 1 2.1 0 1.2-1 2.1-.8.9-2.1.9Z" fill="%23dddddd" stroke="%23aaaaaa"/></svg>');
        }

        &.configurable {
            background-image: url('data:image/svg+xml,<svg height="16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m13.2 15.3 2-2q.3-.3.3-.6t-.2-.5l-5-5 .2-.8.1-.9q0-2-1.5-3.5Q7.7.5 5.6.5L4.4.7q-.7.1-1.2.4l3.4 3.4-2 2L1 3.3q-.3.5-.4 1.2L.5 5.6q0 2 1.5 3.5 1.4 1.5 3.5 1.5h1l.7-.3 5 5q.2.2.5.2t.5-.2z" fill="%23ddd" stroke="%23aaa" stroke-linejoin="round"/></svg>');
        }

        &.loading {
            background-image: url(images/loading.svg) !important;
        }
    }

    & details[open] > summary {

        .icon.folder {
            background-image: url('data:image/svg+xml,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M1 2.1a1 1 0 0 0-1 1V13c0 .5.5 1 1 1h12.3c.6 0 1-.5 1-1V5.2c0-.6-.4-1-1-1H6c-.1 0-.2 0-.2-.2h-.1l-.1-.2-.1-.2-.8-1a1 1 0 0 0-.9-.5Z" fill="%23e2ae10"/><path d="M2.9 6.8h12.3c.5 0 .9.3.8.7l-1.6 5.6c-.2.5-.7.8-1.3.8H.8c-.5 0-.9-.3-.8-.8l1.6-5.6c.2-.4.7-.7 1.3-.7Z" fill="%23f2c94c"/></svg>');
        }
    }
}

.hor-scroll {

    .maho-tree {
        white-space: nowrap;
    }
}

.maho-tree li.sortable-drag, .maho-tree li.sortable-drag:before {
    border-color: transparent;
}

.maho-tree .label.disabled, .maho-tree .label:has(.icon.no-active-category) {
    color: var(--disabled-color) !important;
}

.maho-tree .icon.leaf, .maho-tree .icon.paper {
    background-image: url('data:image/svg+xml,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M8.7.5H3.4c-.6 0-1 .5-1 1.2v12.6c0 .7.4 1.2 1 1.2h9.2c.6 0 1-.5 1-1.2V5.6Z" fill="%23edf3f4" stroke="%239aafb7"/><path d="M8.7.5v3.8c0 .7.5 1.2 1.2 1.2h3.7z" fill="%23d7e7ec" stroke="%239aafb7"/></svg>');
}

.drop-zone {
    position: relative !important;

    &.hovering {

        .maho-tree {
            opacity: 0.2;
        }
    }

    .drop-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &.delete:before {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%235f6368"><path d="M280-120q-33 0-56-23t-24-57v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23 57t-57 23H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>');
        }

        &.invalid:before {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%235f6368"><path d="M480-80q-83 0-156-31t-127-86q-54-54-85-127T80-480q0-83 32-156t85-127q54-54 127-85t156-32q83 0 156 32t127 85q54 54 86 127t31 156q0 83-31 156t-86 127q-54 54-127 86T480-80Zm0-80q54 0 104-17t92-51L228-676q-33 42-50 92t-18 104q0 134 93 227t227 93Zm252-124q33-42 51-92t17-104q0-134-93-227t-227-93q-54 0-104 18t-92 50l448 448Z"/></svg>');
        }
    }

    .drop-message:before {
        content: '';
        width: 48px;
        height: 48px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

/*==== excluded from nesting ===*/
