/* LOADING INDICATOR
*******************************************************************/
#loading-process {
    position:absolute;
    top:45%;
    left:50%;
    margin-left:-60px;
    border:2px solid #f1af73;
    padding:15px 60px;
    background:#fff4e9;
    color:#d85909;
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    z-index:501;
    }
#loading-mask {
    position:absolute;
    inset: 0;
    opacity:0.80;
    z-index:9999;
    }
#loading-mask .loader {
    position:fixed;
    top:45%;
    left:50%;
    width:150px;
    margin-left:-105px;
    padding:15px 30px;
    background:#fff4e9;
    border:2px solid #f1af73;
    color:#d85909;
    font-weight:bold;
    text-align:center;
    z-index:1000;
    }

#message-popup-window-mask { position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:1980; background-color:#efefef; opacity:.5; }
.message-popup { position:absolute; z-index:1990; width:407px; top:-9999em; left:50%; margin:0 0 0 -203px; background:#f3bf8f; padding:0 4px 4px; }
.message-popup.show { top:280px; }
.message-popup .message-popup-head { padding:1px 0; }
.message-popup .message-popup-head h2 { padding:0 10px; margin:0; font:bold 12px/19px ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; color:#644f3b; }
.message-popup .message-popup-head a { float:right; border:1px solid #ea7601; padding:0 12px 0 7px; background:url(images/bkg_btn-close.gif) 0 50% repeat-x !important; font:normal 12px/17px ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; color:#fff; text-decoration:none !important; cursor:pointer; }
.message-popup .message-popup-head a span { float:left; background:url(images/bkg_btn-close2.gif) 0 50% no-repeat; padding-left:19px; }
.message-popup .message-popup-content { background:#fdf4eb; padding:21px 21px 10px; }
.message-popup .message-popup-content .message-icon { float:left; width:50px; font-size:10px; line-height:12px; text-transform:uppercase; text-align:center; }
.message-popup .message-popup-content .message-critical { color:#e41101; }
.message-popup .message-popup-content .message-major { color:#f55600; }
.message-popup .message-popup-content .message-minor { color:#ff9e22; }
.message-popup .message-popup-content .message-notice { color:#659601; }
.message-popup .message-popup-content .message-text { float:right; width:295px; min-height:4.5em; overflow:hidden; color:#644f3b; }
.message-popup .message-popup-content .read-more { margin:7px 0 0; text-align:right; }
.message-popup .message-popup-content .read-more a { background:url(images/more_arrow.gif) 0 50% no-repeat; padding-left:14px; text-decoration:underline; }
.message-popup .message-popup-content .read-more a:hover { text-decoration:none; }
