/* SPACE
*******************************************************************************/
.box-left, .box-right   { width:48.5%; }
.box-left               { float:left; }
.box-right              { float:right; }
.box-left .content,
.box-right .content     { padding:6px 14px; }
.separator, .pipe       { padding:0 6px; font-size:.9em; } /* vertical pipe */
.divider                { display:block; height:1px; margin:8px 0; background:#ddd; overflow:hidden; }  /* horizontal pipe */
td.divider              { font-size:1px; line-height:0; }
.box,
.entry-edit fieldset,
.entry-edit .fieldset { border:1px solid #d6d6d6; background:#fafafa; }
