
/* SYSTEM
*******************************************************************************/
.stores-tree td { padding-top:3px !important; padding-bottom:3px !important; }
.stores-tree td.label label { display:inline; width:auto; padding-right:10px; }
.stores-tree td.website-label label { font-weight:bold; }
.stores-tree td.store-group-label label { font-weight:bold; padding-left:15px; }
.stores-tree td.store-label label { padding-left:30px; }
.stores-tree .buttons-set { margin:10px 0; }

.log-details { border:1px solid #d6d6d6; padding:15px; background:#fafafa; margin:0 0 15px; }
.log-details table { width:100%; }
.log-details table th,
.log-details table td { padding-top:4px; padding-bottom:4px; vertical-align:middle; }
.log-details table th { font-weight:bold; padding-right:30px; white-space:nowrap; }

.sync-indicator { margin-left:5px; margin-right:5px; position:absolute; white-space:nowrap; }
.sync-indicator img,
.sync-indicator span { vertical-align:middle; }

/* Configuration */
/*fieldset.config td          { padding-top:5px; padding-bottom:5px; }
fieldset.config input.input-text { width:250px; }
fieldset.config select.select { width:256px; }*/
div.tree_item,
div.tree_item_last          { background-position:left; background-repeat:no-repeat; padding-left:20px; }
div.tree_item               { background-image:url(images/tree_icons/join.gif); }
div.tree_item_last          { background-image:url(images/tree_icons/joinbottom.gif); }
div.tree_line               { position:absolute; left:0; background-image:url(images/tree_icons/line.gif); }
img.attribute-global        { width:16px; height:16px; vertical-align:middle; }

ul.config-tabs              { border-top:none; }
ul.config-tabs dt {
    border-top:1px solid #849ba3;
    background:#d1dedf url(images/config_tab_dt_bg.gif) no-repeat 0 50%;
    padding:2px 0 2px 1.5em;
    font-weight:bold;
    text-transform:uppercase;
    color:#306375;
    }
ul.config-tabs dl           { margin-bottom:16px; }
ul.config-tabs a.last span  { background-image:none; }

.inline-table { border:0 !important; }
.inline-table td { border:0 !important; padding:0 5px 5px !important; }

.system-fieldset-sub-head td { padding:20px 5px 5px 5px; }
.system-fieldset-sub-head:first-child td { padding:5px 5px 5px 5px; }
.system-fieldset-sub-head h4 { border-bottom:1px solid #ccc; margin:0; }

.comment { padding:5px; }
.comment a { color:#888; margin-left:3px; }

.paypal-payment-notice { font-weight: bold; margin: -10px 0 10px 0; }

.payment-group-title { border:0; padding:10px 5px 10px; }
.payment-group-title strong { display:inline; font-size:14px; border:0; }

/* Config with nested accordion */
.complex > .config { padding:13px 12px 12px; }
.section-config.complex table.form-list { width:100%!important; }
.complex table td:first-child { padding-left:0px!important; }
.complex table td.use-default { width:1px; white-space:nowrap; }

/* Nested accordion */
.section-config .section-config > .config { border:1px solid #d6d6d6; border-top:0; margin:0; padding:15px 12px 20px; background:#fff; }
.section-config .section-config > .entry-edit-head { background:#e6e6e6; border:1px solid #d6d6d6; margin:-1px 0 0; padding:4px 12px; }
.section-config .section-config > .entry-edit-head > a { color:#2f2f2f; background:url(images/bkg_config-nested.png) 100% 5px no-repeat; }
.section-config .section-config > .entry-edit-head > a.open { background-position:100% -195px; }
.section-config .section-config > .entry-edit-head > a:hover {}
.section-config .section-config.active > .entry-edit-head > a.open {}



/* Accordion with configure button */
.with-button { background:#fff; }
.with-button.active > .config { border-bottom-color:#b0b0b0; z-index:1; position:relative; }
.with-button.active:after { background:transparent url(images/bkg_config-shaddow.png) repeat-x 0 0; height:5px; overflow:hidden; position:relative; left:0; margin:0 1px -5px; z-index:2; display:block; content:''; }

tr:last-child .with-button.active > .config { border-bottom-color:#d6d6d6; }
tr:last-child .with-button.active:after { display:none; }
.config-heading { padding:10px 10px 10px 26px; background:#efefef url(images/icon-enabled.png) no-repeat -999em -999em; border:1px solid #d8d8d8; margin:-1px 0 0; }
.enabled .config-heading { background-position:5px 10px; }
.config-heading .button-container { float:right; text-align:right; }
.config-heading .button span { font-size:14px; font-weight:bold; display:block; text-shadow:0 1px 1px #666; text-transform:capitalize; }
.config-heading .button .state-closed { height:auto; }
.config-heading .button .state-opened { height:0; overflow:hidden; }
.config-heading .button.open .state-closed { height:0; overflow:hidden; }
.config-heading .button.open .state-opened { height:auto; }
.config-heading .button:active,
.config-heading .button:active span { outline:0!important; }
.config-heading .heading { float:left; }
.config-heading .heading strong { font-size:12px; display:inline-block; }
.config-heading .heading a { margin-left:8px; font-size:11px; color:#888; font-weight:normal; }
.config-heading .heading a.link-demo:before { content:'|'; display:inline-block; margin-right:8px; color:#888; font-size:12px; }
.config-heading .heading .heading-intro { display:block; font-size:11px; }

td.label label.enabled { background:url(images/icon-enabled.png) no-repeat 100% 1px; min-height:16px; }

/* Advanced nested config */
.section-config .config-advanced > .entry-edit-head { background:none; padding:0 0 0; border:0; }
.section-config .config-advanced > .entry-edit-head a { background:none; padding:0; display:inline-block; border-bottom:1px dotted #f67610; color:#f67610!important; line-height:1.1; white-space:nowrap; }
.section-config .config-advanced > .entry-edit-head a.open,
.section-config .config-advanced > .entry-edit-head a { background:none; }
.section-config .config-advanced > .entry-edit-head a:after { content:''; width:7px; height:5px; background:url(images/bkg_config-advanced.png) no-repeat 0 0; overflow:hidden; display:inline-block; vertical-align:middle; margin-right:-13px; margin-left:5px; }
.section-config .config-advanced > .entry-edit-head a.open:after { background-position:0 -5px; }
.section-config .config-advanced > .config { border:0; padding:15px 0 0;; }

/* Adjusting spacing between form field and nested accordion */
.complex tr.nested + tr[id] > td { padding-top:15px !important; padding-bottom:30px!important; }
.complex tr[id] + tr.nested > td { padding-top:15px !important; }
.pp-buttons-container { white-space:nowrap; float:left; position:relative; z-index:1; margin-right:-200px; }
.pp-buttons-container button { display:inline-block; }
.pp-buttons-container button:first-child { margin:0; }

/* Tooltip for config */
.with-tooltip {}
.field-tooltip { display:inline-block; width:15px; height:15px; position:relative; z-index:1; background:url(images/icon-tooltip.png) no-repeat 0 0; cursor:help; vertical-align:middle; }
.field-tooltip:hover { z-index:100; }
.field-tooltip > span { display:none; }
.field-tooltip:hover > div:hover,
.field-tooltip > div { width:301px; /* width:0; */ background:#f6f6f6 url(images/bkg_tooltip.png) repeat-y 100%; opacity:0; position:absolute; z-index:999; left:-296px; bottom:28px; padding:0 12px; color:#464d50; visibility:hidden; }
.field-tooltip > div:before { position:absolute; top:-5px; left:0; content:''; width:325px; height:5px; overflow:hidden; background:url(images/bkg_tooltip.png) no-repeat 0 0; }
.field-tooltip > div:after { position:absolute; bottom:-14px; left:-1px; content:''; width:325px; height:14px; overflow:hidden; background:url(images/bkg_tooltip.png) no-repeat -325px 0; }

.field-tooltip:hover > div:hover,
.field-tooltip > div {
/*     -moz-transition-property:opacity, visibility, bottom;
    -moz-transition-duration:0.4s, 0s;
    -moz-transition-timing-function:linear;
    -moz-transition-delay:0.3s, 0.7s;
    -webkit-transition-property:opacity, visibility, bottom;
    -webkit-transition-duration:0.4s, 0s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0.1s, 0.5s;
    -o-transition-property:opacity, visibility, bottom;
    -o-transition-duration:0.4s, 0s;
    -o-transition-timing-function:linear;
    -o-transition-delay:0.1s, 0.5s;
    transition-property:opacity, visibility, bottom;
    transition-duration:0.4s, 0s;
    transition-timing-function:linear;
    transition-delay:0.1s, 0.5s; */
    }

.field-tooltip:hover > div { opacity:1; width:301px; visibility:visible; bottom:30px; }

.field-tooltip:hover > div { opacity:1; width:301px; visibility:visible; bottom:30px;
/*     -moz-transition-duration:0.2s, 0s; -moz-transition-delay:0.1s, 0s;
    -webkit-transition-duration:0.2s, 0s; -webkit-transition-delay:0.1s, 0s;
    -o-transition-duration:0.2s, 0s; -o-transition-delay:0.1s, 0s;
    transition-duration:0.2s, 0s; transition-delay:0.1s, 0s; */
    }


/* Import/export */

#profile-generator select { width:207px; }
#profile-generator input.input-text { width:200px; }
.field-row .with-tip {display:block; margin-left:150px; }
.field-row .with-tip input {float:none; }
.field-row .with-tip small {display:block;padding-top:2px; }

#profile-generator .field-row  button.delete {vertical-align:middle; }
#profile-generator fieldset button.add {display:inline; margin:0; }

/** Product mass attribute update **/

.attribute-change-checkbox { white-space:nowrap; clear:none; margin-left:5px; }

.attribute-change-checkbox label{ margin-left:5px; float:none !important; }

/** Order view **/
.order-history { width:70%; margin-right:27px; }

ul.super-product-attributes { padding-left:15px; }

/** Media Library **/
.uploader .file-row { width:600px; padding:0.5em 0.6em; margin:0.5em 0.6em; border:1px solid #ccc; background-color:#f9f9f9; /*vertical-align:middle;*/ }
.uploader .file-row-narrow { width: auto; margin: 0 0 2px 40px; }
.uploader .file-row .file-info { float:left; }
/*.uploader .file-row .file-info-name { with: 80%; overflow: hidden; }
.uploader .file-row .file-info-size { width: 20%; }*/
.uploader .file-row-info { margin: 0 0 0 10px; }
.uploader .file-row-info .file-info-name  { font-weight:bold; }
.uploader .file-row .progress-text { float:right; font-weight:bold; }
.uploader .file-row .delete-button { float:right; }
.uploader .progress { border:1px solid #f0e6b7; background-color:#feffcc; }
.uploader .error { border:1px solid #aa1717; background-color:#ffe6de; }
.uploader .error .progress-text { padding-right:10px; }
.uploader .complete { border:1px solid #90c898; background-color:#e5ffed; }

.grid tr.read { background:#fff !important; }
.grid tr.unread { background:#fcf6f5 !important; }
.grid-row-title { color:#444; font-weight:bold; }

.grid-severity-critical,
.grid-severity-critical span,
.grid-severity-major,
.grid-severity-major span,
.grid-severity-minor,
.grid-severity-minor span,
.grid-severity-notice,
.grid-severity-notice span { display:block; height:16px; background-image:url(images/bg_notifications.gif); background-repeat:no-repeat; font:bold 10px/16px ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; text-transform:uppercase; text-align:center; padding:0 0 0 6px; margin:1px 0; white-space:nowrap; color:#fff; }
.grid-severity-critical { background-position:0 0; }
.grid-severity-critical span { background-position:100% 0; padding:0 7px 0 0; }
.grid-severity-major { background-position:0 -16px; }
.grid-severity-major span { background-position:100% -16px; padding:0 7px 0 0; }
.grid-severity-minor { background-position:0 -32px; }
.grid-severity-minor span { background-position:100% -32px; padding:0 7px 0 0; }
.grid-severity-notice { background-position:0 -48px; }
.grid-severity-notice span { background-position:100% -48px; padding:0 7px 0 0; }

.super-attributes                       { margin:0; padding:0; }
.super-attributes li.attribute          { border:1px solid #dfdfdf; background-color:#ededed; margin:1px 0; }
.super-attributes li.attribute ul.attribute-values { margin:0; padding:0; }
.super-attributes li.attribute div.values-container { width:80%; margin-top:2px; margin-bottom:2px; }
.super-attributes li.attribute-value  { display:block; margin:1px 0; }
.super-attributes li.attribute-value .validation-advice { margin:0; white-space:normal; }
.super-attributes li.attribute-value .attribute-value-label-container { width:200px; }

.super-attributes div.attribute-name-container,
.super-attributes li.attribute div.values-container,
.configurable-simple-product div.values-container,
.super-attributes li.attribute-value .attribute-values-container,
.configurable-simple-product  .attribute-values-container,
.super-attributes li.attribute-value .attribute-values-container-main,
.configurable-simple-product  .attribute-values-container-main,
.super-attributes li.attribute-value .attribute-value-label-container {  display:block;  }

.super-attributes li.attribute-value .attribute-price,
.configurable-simple-product .attribute-price { width:70px !important; }

.super-attributes li.attribute-value .attribute-price-type,
.configurable-simple-product .attribute-price-type {  width:70px !important; }

.super-attributes  div.attribute-name-container {
    cursor:move;
    background-image:url(images/arrow_sort_move.gif);
    background-repeat:no-repeat;
    background-position:4px 50%;
    font-weight:bold;
    padding-left:15px;
    margin-top:2px;
    margin-bottom:2px;
    }


/** Product Gallery Image Previews **/
.preview .cell-image .place-holder { border:1px solid #AEAEAE; width:100px; height:100px; text-align:center; }
.preview .cell-image .place-holder span { margin-top:30px;display:block; }
.preview .cell-position input.input-text { width:90% !important; }
.fieldset-wide .data .preview .cell-position input.input-text  { width:90% !important; }

.tier .data             { width:465px; }
.tier .data select      { width:99%; }
.tier .data input.qty   { width:20px !important; }

.weee .data             { width:465px; }
.weee .data select      { width:99%; }

.giftcard-amounts .data { width:465px; }
.giftcard-amounts .data select { width:99%; }

/* Links */
.link-feed { background:url(images/icon_feed.gif) no-repeat left 2px; padding-left:18px; }

#page-help-link {
    line-height:26px;
    padding-left:20px;
    color:#ebebff;
    background:url(images/fam_help.gif) no-repeat 0 50%;
    }
#page-help-link:link, #page-help-link:visited { text-decoration:none; }
#page-help-link:hover { color:white; }



.section-config .section-config > .config {
  border: 0;
}
.section-config .section-config > .entry-edit-head {
  border: 0;
}
.section-config .section-config > .entry-edit-head > a {
  background: none;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  border: 0;
}
.section-config .section-config .section-config .section-config .section-config > .config {
  background: #f8f8f8;
}
.section-config .section-config .section-config .section-config > .config {
  background: #fefefe;
}
.section-config .section-config .section-config > .config {
  background: #f8f8f8;
}
.section-config .config-advanced > .entry-edit-head {
  border: 0;
  font-size: 14px;
  box-shadow: none;
}
.section-config .config-advanced > .entry-edit-head.collapseable a:after {
  border: none;
}
.section-config .config-advanced > .entry-edit-head.collapseable a.open:after {
  border: none;
}
.section-config .config-advanced > .entry-edit-head a:after {
  top: 5px;
}
.section-config .config-advanced > .config {
  padding: 10px;
}

.config-heading {
  background-color: #fff;
  border: 0;
  margin: 4px 0 0;
}
.config-heading .button span {
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-shadow: none;
}

.links-feed {
  margin-top: 10px;
}

.link-feed {
  margin-right: 20px;
  font-size: 0.9em;
  text-decoration: none;
}

.with-button.active:after {
  background: none;
  margin: 0;
}
