
.grid {
  border-bottom: 0;
  padding-bottom: .5em;

  & table {
    width: 100%;
    border: 1px solid #cbd3d4;
    border-bottom: none;
    border: 1px solid lightgrey;
    border-collapse: collapse;

    &.border {
      border: 1px solid #cbd3d4;
      border: 1px solid lightgrey;

      & td {
        background: #fff !important;
      }

      & tfoot {

        & tr {

          & td {
            background: #D7E5EF !important;
            background: #fff !important;
          }
        }
      }
    }

    & td {
      border-width: 0 1px 1px 0;
      border-color: #dadfe0;
      border-style: solid;
      border: 1px solid lightgrey;
      background: #fff;
      padding: 5px;

      &.product {
        text-align: right;
      }

      &.empty-text {
        padding: 15px;
      }

      .action-select {
        width: 100%;
      }

      &.first {
        border-right: 1px solid lightgrey;
      }

      &.last {
        border-right: 1px solid lightgrey;
      }
    }

    & tfoot {

      & tr {
        background: #D7E5EF;

        & td {
          border-top: 1px solid #9babb9;
          background: #e5ecf2;
          line-height: 1.7em;
          border: 1px solid lightgrey;
          background: #fff;
        }
      }
    }

    & tbody {

      & tr.selected {

        & td {
          background: #f0f9ff;
        }
      }

      & tr:hover {

        & td {
          background: #f0f9ff;
        }
      }

      & tr:nth-child(odd):hover {

        & td {
          background: #f0f9ff;
        }
      }
    }
  }

  & tbody {
    background: #fff;

    &.odd {

      & tr {
        background: #fff !important;

        & td {
          background: #f6f6f6 !important;
        }
      }
    }

    &.even {

      & tr {
        background: #f6f6f6 !important;

        & td {
          background: #eee !important;
        }
      }
    }

    & tr.even {

      & td.sorted {
        background: #e6e6e6 !important;
      }
    }

    & tr.odd {

      & td.sorted {
        background: #f7f7f7 !important;
      }
    }

    & tr.selected {

      & td.sorted {
        background: #e1f3ff !important;
      }
    }
  }

  & tr.on-mouse {
    background: #fcf5dd;
    cursor: pointer;
  }

  & tr.invalid {
    background-color: #f5d6c7;
  }

  & th {
    white-space: nowrap;
  }

  & td.editable {

    & input.input-text {
      width: 50px !important;
      margin-left: 4px !important;
    }
  }

  & td {

    & input.input-text {
      width: 86%;
      min-width: 80px;
    }

    & input.input-text-export-filter {
      width: 272px;
    }

    & input.input-text-range {
      width: 104px;
    }

    & input.input-text-range-date {
      width: 87px;
    }

    & input.input-inactive {
      background: #eee;
    }
  }

  .separator {
    padding: 0 4px;
    color: #b9b9b9;
  }

  & tr.headings {
    background: url(images/sort_row_bg.gif) 0 50% repeat-x;
    background: #71798e;
    border: 1px solid #71798e;

    & th {
      border-width: 1px;
      border-color: #f9f9f9 #d1cfcf #f9f9f9 #f9f9f9;
      border-style: solid;
      padding-top: 1px;
      padding-bottom: 0;
      font-size: .9em;
      white-space: nowrap;
      padding: 4px;
      font-size: 12px;
      vertical-align: middle;
      color: #fff;
      font-weight: 400;

      &.last {
        border-right: 0;
      }

      &.no-link {
        padding-top: 2px;
        padding-bottom: 1px;
        color: #67767e;
        color: #fff;
        padding: 4px;
      }

      & a {
        display: block;
        padding: 2px 4px 1px 0;
        color: #2d444f;
        text-decoration: none;
        color: #fff;
        font-weight: 400;

        &.sort-arrow-desc {

          & span.sort-title {
            background-image: url(images/grid_sort_desc.gif);
            background: none;
          }

          & span.sort-title:after {
            border-width: 6px 5px 0 5px;
            border-color: lightgrey transparent transparent transparent;
          }
        }

        &.sort-arrow-asc {

          & span.sort-title {
            background-image: url(images/grid_sort_asc.gif);
            background: none;
          }

          & span.sort-title:after {
            border-width: 0 5px 6px 5px;
            border-color: transparent transparent lightgrey transparent;
          }
        }
      }

      & a:hover {
        color: #d85909;
        text-decoration: none;
        color: lightgrey;
      }

      & span.sort-title {
        display: block;
        padding: 3px 12px 4px 0;
        line-height: 1;
      }
    }
  }

  & tr.filter {
    background: url(images/filter_row_bg.gif) repeat-x #e3eff1;
    cursor: default;
    background: #fff !important;

    & th {
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid #bdbdbd;
      border-width: 0 1px 1px 0;
      white-space: normal;
      border: 1px solid lightgrey;
      border-top: 0;

      &.last {
        border-right: 0;
      }

      &.sorted {
        background: #f7f7f7 !important;
      }
    }

    & input.input-text {
      width: 85%;
    }

    & select {
      width: 100%;
    }

    .range {

      .range-line {
        margin-bottom: 3px;
        width: 100px;
        width: 125px;
      }

      & div.date {
        min-width: 121px;
        min-width: 140px;
      }

      & input {
        width: 60px !important;
        margin-top: 0;
      }

      & input::placeholder {
        color: transparent;
      }

      & select {
        float: right;
        width: 65px !important;
        margin-top: 0;
        float: none;
      }

      .label {
        display: block;
        width: 30px;
        float: left;
        padding-right: 3px;
        text-align: right;
        font-weight: 400;
        width: 40px;
        padding: 4px;
      }

      &.filter-range {

        .range-line {
          width: initial;
        }

        .label {
          display: none;
        }
      }
    }

    .date {

      & img {
        width: 15px;
        height: 15px;
        cursor: pointer;
        vertical-align: middle;
        padding-left: 3px;
        padding-left: 17px;
        box-sizing: border-box;
        width: 17px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%230090FF' d='M9,10V12H7V10H9M13,10V12H11V10H13M17,10V12H15V10H17M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H6V1H8V3H16V1H18V3H19M19,19V8H5V19H19M9,14V16H7V14H9M13,14V16H11V14H13M17,14V16H15V14H17Z' /%3E%3C/svg%3E") no-repeat;
        height: 17px;
        margin-top: 5px;
      }
    }
  }

  .head-massaction {

    & select {
      width: auto !important;
      max-width: 90px;
    }
  }

  & tr.even {

    & td {
      background: #eee;
    }

    & tr {

      & td {
        background: #eee;
      }
    }
  }
}

.grid tr.even, .grid tr.even tr {
  background: #f6f6f6;
}

.grid th, .grid td {
  padding: 2px 4px 2px 4px;
}

.grid table td.first, .grid table td.last {
  border-right: 0;
}

.grid tbody.odd tr td, .grid tbody.even tr td {
  border-bottom: 0;
}

.grid tbody.odd tr.border td, .grid tbody.even tr.border td {
  border-bottom: 1px solid #dadfe0;
}

table.actions {
  width: 100%;
  margin: .5em 0;
  padding: 15px;
  background: #fff;
  border: 1px solid lightgrey;

  & td {
    vertical-align: top;
    vertical-align: middle;
  }
}

.pager {

  & select {
    width: 4em!important;
    margin: 0 4px;
  }

  & input.page {
    width: 2em !important;
  }

  .arrow {
    margin: 0 3px;
    vertical-align: middle;
  }

  & img[src$="pager_arrow_left.gif"].arrow {
    padding-left: 17px;
    box-sizing: border-box;
    width: 17px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%230090FF' d='M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M14,7L9,12L14,17V7Z' /%3E%3C/svg%3E") no-repeat;
    height: 17px;
  }

  & img[src$="pager_arrow_right.gif"].arrow {
    padding-left: 17px;
    box-sizing: border-box;
    width: 17px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%230090FF' d='M2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12M10,17L15,12L10,7V17Z' /%3E%3C/svg%3E") no-repeat;
    height: 17px;
  }

  & img[src$="pager_arrow_left_off.gif"].arrow {
    padding-left: 17px;
    box-sizing: border-box;
    width: 17px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%230090FF' d='M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M14,7L9,12L14,17V7Z' /%3E%3C/svg%3E") no-repeat;
    height: 17px;
    opacity: 0.5;
  }

  & img[src$="pager_arrow_right_off.gif"].arrow {
    padding-left: 17px;
    box-sizing: border-box;
    width: 17px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%230090FF' d='M2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12M10,17L15,12L10,7V17Z' /%3E%3C/svg%3E") no-repeat;
    height: 17px;
    opacity: 0.5;
  }
}

.grid tr.headings th a.sort-arrow-desc, .grid tr.headings th a.sort-arrow-asc {
  background: url(images/sort_on_bg.gif) 0 0 no-repeat;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  padding-bottom: 2px;
}

.grid tr.headings th a.sort-arrow-desc span.sort-title, .grid tr.headings th a.sort-arrow-asc span.sort-title {
  background-position: right 50%;
  background-repeat: no-repeat;
  padding: 3px 12px 2px 8px;
}

.massaction {
  width: 100%;
  height: 26px;
  border: 1px solid #d1cfcf;
  border-bottom: none;
  background: url(images/massaction_bg.gif) repeat-x 0 100% #ebebeb;
  font-size: .9em;
  background: none;
  border: 0;
  font-size: 12px;

  & td {
    width: auto;
    border-top: 1px solid #fff;
    padding: 1px 8px;
    vertical-align: middle;
    border-top: 0;
    padding: 10px 0;
  }

  .entry-edit {
    margin: 0 !important;
    padding: 0;

    & fieldset {
      margin: 0;
      padding: 0;
      background: none;
      border: none;

      .select {
        width: auto;
        display: inline;
      }

      & select.validation-failed {
        border: 1px dashed #eb340a !important;
        background: #faebe7 !important;
      }

      .field-row {
        display: inline;
      }
    }

    .field-row {

      & label {
        float: none;
        width: auto;
        margin-left: 13px;
        vertical-align: middle;
      }
    }

    .validation-advice {
      display: none !important;
    }

    .outer-span {
      float: left;
    }
  }

  & a {
    text-decoration: none;
  }
}

.massaction .entry-edit fieldset span.form_row, .massaction .entry-edit fieldset span.field-row {
  clear: none !important;
  display: inline;
  float: left !important;
  margin: 0;
  padding: 0 5px 0 0;
  padding: 0;
}

.grid select.select-export-filter, .grid select.multiselect-export-filter {
  width: 278px;
}

.dynamic-grid {

  & th {
    padding: 2px;
    width: 100px;
  }

  & td {
    padding: 2px;
  }
}

tr.dynamic-grid td, tr.dynamic-grid th {
  padding: 2px 10px 2px 0;
  width: auto;
}

tr.dynamic-grid {

  & input.input-text {
    width: 154px;
  }
}

.available {
  color: #080;
  font-weight: bold;
}

.not-available {
  color: #800;
}

.icon-copy {
  display: inline-block;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 111.07 122.88"><path d="M97.67 20.81h0l.01.02a13.38 13.38 0 0 1 9.46 3.93 13.32 13.32 0 0 1 3.9 9.42h.02v.02 75.28.01h-.02c-.01 3.68-1.51 7.03-3.93 9.46a13.32 13.32 0 0 1-9.42 3.9v.02h-.02-59.19-.01v-.02c-3.69-.01-7.04-1.5-9.46-3.93a13.37 13.37 0 0 1-3.91-9.42h0V34.2v-.01h.02c.01-3.69 1.52-7.04 3.94-9.46 2.41-2.4 5.73-3.9 9.42-3.91v-.02h.02l59.17.01h0zM.02 75.38L0 13.39v-.01h.02a13.44 13.44 0 0 1 3.93-9.46A13.37 13.37 0 0 1 13.37.01V0h.02 59.19c7.69 0 8.9 9.96.01 10.16H13.4h-.02v-.02c-.88 0-1.68.37-2.27.97-.59.58-.96 1.4-.96 2.27h.02v.01 3.17 58.81c0 8.26-10.15 8.72-10.15.01h0zm100.89 34.11V34.2v-.02h.02c0-.87-.37-1.68-.97-2.27-.59-.58-1.4-.96-2.28-.96v.02h-.01-59.19-.02v-.02c-.88 0-1.68.38-2.27.97-.59.58-.96 1.4-.96 2.27h.02v.01 75.28.02h-.02c0 .88.38 1.68.97 2.27s1.4.96 2.27.96v-.02h.01 59.19.02v.02c.87 0 1.68-.38 2.27-.97.59-.58.96-1.4.96-2.27h-.01 0 0 0z" fill-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin: 2px 0 0 2px;
}

.entry-edit-head {

  .icon-copy {
    width: 11px;
    height: 11px;
    margin: 0 0 0 5px;
    filter: hue-rotate(0) brightness(0) contrast(1) saturate(0) invert(1);
  }
}

.icon-copy-copied {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 30 30"><path d="M26.98 5.99a1 1 0 0 0-.687.303L11 21.586l-6.293-6.293a1 1 0 1 0-1.414 1.414l7 7a1 1 0 0 0 1.414 0l16-16a1 1 0 0 0-.727-1.717z"/></svg>');
}

.grid tr.headings th a.sort-arrow-asc, .grid tr.headings th a.sort-arrow-desc {
  background: none;
  border: 0;
  box-sizing: border-box;
  font-weight: bold;
  position: relative;
}

.grid tr.headings th a.sort-arrow-asc span.sort-title:after, .grid tr.headings th a.sort-arrow-desc span.sort-title:after {
  content: "";
  display: block;
  position: absolute;
  right: 6px;
  bottom: 8px;
  width: 0;
  height: 0;
  border-style: solid;
}

.grid-severity-minor, .grid-severity-major, .grid-severity-critical, .grid-severity-notice {
  background: none;
  padding: 0;
  height: auto;
}

.grid-severity-minor span, .grid-severity-major span, .grid-severity-critical span, .grid-severity-notice span {
  font: 400 12px/1.33 ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 2px 10px;
}

.grid-severity-minor span, .grid-severity-major span {
  border: 0;
  background: #f0ad4e;
  color: #fff;
}

.grid tr.filter .range input, .grid tr.filter .range select {
  width: 75px !important;
}

.grid-severity-notice {

  & span {
    border: 0;
    background: #56af45;
    color: #fff;
  }
}

.grid-severity-critical {

  & span {
    border: 0;
    background: #fa4545;
    color: #fff;
  }
}

.export {

  & img {
    padding-left: 19px;
    box-sizing: border-box;
    width: 19px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%2356af45' d='M23,12L19,8V11H10V13H19V16M1,18V6C1,4.89 1.9,4 3,4H15A2,2 0 0,1 17,6V9H15V6H3V18H15V15H17V18A2,2 0 0,1 15,20H3A2,2 0 0,1 1,18Z' /%3E%3C/svg%3E") no-repeat;
    height: 19px;
  }
}

/*==== excluded from nesting ===*/

