
dl.accordion {

  .grid {
    margin-bottom: 0;
  }

  & dd {
    display: none;

    &.open {
      display: block;
    }
  }

  & dt {
    margin-top: 10px;

    & a {
      position: relative;
      background: none;
    }

    &.open {

      & a {
        background: none;
      }
    }
  }
}

dl.accordion dt, .entry-edit .entry-edit-head {
  background: #6f8992;
  padding: 2px 10px;
  background: #fefefe;
  color: #2f2f2f;
  padding: 4px 16px;
  border: 1px solid lightgrey;
}

dl.accordion dt, div.collapseable {
  margin-top: 1px;
}

dl.accordion dt a, div.collapseable a {
  background: url(images/entry_edit_head_arrow_down.gif) 100% 50% no-repeat;
  color: #fff;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

div.disabled {
  background: #c6cbc9 !important;

  & a {
    background-image: url(images/entry_edit_head_arrow_down2.gif) !important;
    color: #f6f6f6 !important;
  }
}

.entry-edit {

  & fieldset.collapseable {
    margin-bottom: 10px;
  }
}

dl.accordion dt a:hover, div.collapseable a:hover {
  color: #fff;
  text-decoration: none;
}

dl.accordion dt.open a, div.collapseable a.open {
  background: url(images/entry_edit_head_arrow_up.gif) 100% 50% no-repeat;
}

img.accordion-btn {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
}

dl.accordion dt.open a, dl.accordion dt a:hover, dl.accordion dt a, div.collapseable a.open, div.collapseable a:hover, div.collapseable a, .entry-edit .entry-edit-head a, .entry-edit .entry-edit-head strong {
  color: #2f2f2f;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}

dl.accordion dt a:after, div.collapseable a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: #888 transparent transparent transparent;
}

dl.accordion dt.open a:after, div.collapseable a.open:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #888 transparent;
}

div.collapseable {
  margin-top: 10px;

  & a {
    position: relative;
    background: none;

    &.open {
      background: none;
    }
  }
}

/*==== excluded from nesting ===*/

