/* 05 messages */
.warning-msg, .success-msg, .error-msg, .notice-msg {
  border-radius: 5px;
  margin: 20px 0;
  padding: 10px 26px 10px 35px;
  position: relative;
  text-shadow: none;
}

.notification-global {
  padding: 5px 27px 5px 47px;
  background: #fff9e9 url(images/error_msg_icon.gif) 27px 5px no-repeat;
  border-bottom: 1px solid #eee2be;
  border-top: 1px solid #eee2be;
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 -3px;
  color: #444;
  position: relative;
  background: #f9f5ec url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23d50000' d='M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z' /%3E%3C/svg%3E") 27px 5px no-repeat;
  background-size: 15px;

  .label {
    color: #eb5e00;
  }

  .clickable {
    cursor: pointer;
  }

  & span.critical {
    color: #d20000;
  }

  & a:hover {
    text-decoration: none;
  }
}

.notification-global-notice {
  background-image: url(images/note_msg_icon.gif);
}

.error, a.error span, .required, .validation-advice {
  color: #D40707 !important;
  font-weight: bold !important;
}

.notice {
  color: #ea7601;
}

.messages {

  & ul {
    border: 0 !important;

    & li {
      margin: 0 0 3px 0 !important;
      border: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  & li {
    min-height: 23px !important;
    margin-bottom: 11px !important;
    padding: 8px 8px 2px 32px !important;
    font-size: .95em !important;
    font-weight: bold !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    padding: 10px 26px 10px 35px !important;
    min-height: inherit !important;
  }
}

.error-msg {
  border: 1px solid #f16048 !important;
  color: #df280a !important;
  background: #faebe7 url(images/error_msg_icon.gif) no-repeat 10px 10px !important;
  background-image: url(images/icon-error.png) !important;
  background-repeat: no-repeat !important;
  background-size: 23px 23px !important;
  background-color: #f3dcd8 !important;
  background-position: 8px center !important;
  border: 1px solid #963535 !important;
  color: #963535 !important;
}

.success-msg {
  border: 1px solid #95a486 !important;
  color: #3d6611 !important;
  background: #eff5ea url(images/success_msg_icon.gif) no-repeat 10px 10px !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23185b00' d='M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z' /%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-size: 16px 16px !important;
  background-color: #e4eecb !important;
  background-position: 8px center !important;
  border: 1px solid #ceceb6 !important;
  color: #185b00 !important;
}

.notice-msg {
  border: 1px solid #ffd967 !important;
  background: #fffbf0 url(images/note_msg_icon.gif) no-repeat 10px 10px !important;
  color: #3d6611 !important;
  background-image: url(images/information-variant.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 23px 23px !important;
  background-color: #f9f5ec !important;
  background-position: 8px center !important;
  border: 1px solid #dfc97a !important;
  color: #2f2f2f !important;
}

.warning-msg {
  border: 1px solid #666e73 !important;
  background: #e6e6e6 url(images/warning_msg_icon.gif) no-repeat 10px 10px !important;
  color: #000000 !important;
  background-image: url(images/information-variant.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 23px 23px !important;
  background-color: #fffbf0 !important;
  background-position: 8px center !important;
  border: 1px solid #d87e34 !important;
  color: #2f2f2f !important;
}

.validation-advice {
  clear: both;
  min-height: 15px;
  margin: 3px 0 0 9px;
  background: url(images/validation_advice_bg.gif) no-repeat 2px 1px;
  padding-left: 16px;
  font-size: .95em;
  font-weight: bold;
  line-height: 1.25em;
  color: #fa4545 !important;
  font-size: 12px;
  font-weight: 600 !important;
}

.staging-datetime-advice {

  .validation-advice {
    background-position: right center;
    padding: 0 16px 0 0;
  }
}

input.validation-failed, textarea.validation-failed {
  background: #fef0ed;
  border: 1px dashed #d6340e;
}

.noscript {
  border: 1px solid #000;
  border-width: 0 0 1px;
  background: #ffff90;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #2f2f2f;

  .noscript-inner {
    width: 900px;
    margin: 0 auto;
    padding: 12px 0 12px;
    background: url(images/i_notice.gif) 20px 50% no-repeat;
  }

  & p {
    margin: 0;
  }
}

.demo-notice {
  margin: 0;
  background: #d75f07;
  padding: 5px 10px 6px 10px;
  color: #fff;
  line-height: 1em;
  text-align: center;
}

#page-help-link {
  display: none;
}

.error {
  color: #fa4545 !important;
}

.required {
  color: #fa4545 !important;
}

/*==== excluded from nesting ===*/
