
.switcher {
  margin-bottom: 10px;
  border: 1px solid #cddddd;
  background: #e7efef;
  padding: 10px;
  background: none;
  padding: 0 0 10px;
  border: none;
}

.side-col {

  .switcher {
    padding-right: 26px;

    & label {
      display: block;
    }

    .link-store-scope {
      float: right;
      margin-right: -19px;
      margin-left: 3px;
      margin: 9px -19px 0 3px;
    }

    & select {
      width: 100%;
      float: left;
      margin: 4px 0;
    }
  }
}

.link-store-scope {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1px;
  width: 16px;
  height: 16px;
  background: url(images/i_question-mark.png) 0 0 no-repeat;
  text-decoration: none !important;
  text-indent: -999em;
  overflow: hidden;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%2300a9ff' d='M15.07,11.25L14.17,12.17C13.45,12.89 13,13.5 13,15H11V14.5C11,13.39 11.45,12.39 12.17,11.67L13.41,10.41C13.78,10.05 14,9.55 14,9C14,7.89 13.1,7 12,7A2,2 0 0,0 10,9H8A4,4 0 0,1 12,5A4,4 0 0,1 16,9C16,9.88 15.64,10.67 15.07,11.25M13,19H11V17H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z' /%3E%3C/svg%3E");
}

.store-scope {

  .link-store-scope {
    float: left;
    margin-right: 10px;
  }

  .tree-store-scope {
    float: left;
    padding: 7px 10px;
    border: 1px dotted #dedede;
  }

  & table.stores-tree {
    float: left;
    width: auto !important;
  }
}

.form-list {

  & td.value {

    .store-scope {
      white-space: nowrap;
    }

    .link-store-scope {
      float: none;
      margin-right: 0;
      vertical-align: top;
      margin-top: 6px;
    }
  }
}

/*==== excluded from nesting ===*/

